.color-fc-pink {
  color: var(--color-pink);
}

.color-fc-grey {
  color: var(--color-grey);
}

.color-fc-light-grey {
  color: var(--color-light-grey);
}
.color-fc-green {
  color: var(--color-green);
}
