@charset 'utf-8';

:root {
  --color-white: #ffffff;
  --color-green: #1ed56f;
  --color-grey: #6e6e73;
  --color-purple: #733fc8;
  --color-light-purple: #9867f0;
  --color-light-grey: #b1b1b1;
  --color-pink: #fa5a59;
  --color-lignt-pink: #f67b7b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-black: #222222;
  --font-extra-large: clamp(32px, 6vw, 80px);
  --font-large: clamp(20px, 4vw, 40px);
  --font-medium: clamp(14px, 2vw, 28px);
  --font-regular: clamp(12px, 1.7vw, 20px);
  --font-small: clamp(10px, 1.5vw, 16px);
  --font-semi-micro: clamp(8px, 1vw, 14px);
  --font-micro: clamp(6px, 0.8vw, 10px);
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --size-border-radius: 4px;
  --animation-duration: 0.3s;
  --animation-duration-medium: 0.5s;
  --animation-duration-long: 1s;
  --nav-height: 80px;
  --divider-height: clamp(1px, 0.2vw, 1.5px);
  --font-family: "Roboto", sans-serif;
}

html {
  font-family: var(--font-family);
  line-height: 1.2;
  word-wrap: break-word;
  /* letter-spacing: -0.05em; */
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--font-regular);
}
ul,
ol {
  list-style: none;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: var(--font-family);
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-extra-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  /* margin: 16px 0px; */
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
}

h2.dividerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2.dividerRight::after {
  content: "";
  flex-grow: 1;
  margin-left: 20px;
  width: 10%;
  display: block;
  position: relative;
  height: var(--divider-height);
  background-color: var(--color-pink);
}
h2.dividerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2.dividerLeft::before {
  content: "";
  flex-grow: 1;
  margin-right: 20px;
  width: 10%;
  display: block;
  position: relative;
  height: var(--divider-height);
  background-color: var(--color-pink);
}
h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}
h4 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: var(--color-black);
}
p {
  font-size: var(--font-semi-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

@media screen and (max-width: 1280px) {
  section {
    padding: 16px 16px;
  }
}
