.d-flex {
  display: flex !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-justify-start {
  justify-content: flex-start !important;
}
.flex-justify-end {
  justify-content: flex-end !important;
}
.flex-justify-center {
  justify-content: center !important;
}
.flex-justify-between {
  justify-content: space-between !important;
}
.flex-justify-around {
  justify-content: space-around !important;
}
.flex-items-start {
  align-items: flex-start !important;
}
.flex-items-end {
  align-items: flex-end !important;
}
.flex-items-center {
  align-items: center !important;
}
.flex-items-baseline {
  align-items: baseline !important;
}
.flex-items-stretch {
  align-items: stretch !important;
}
