@charset 'utf-8';

.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-sticky {
  position: sticky !important;
}
.height-full {
  height: 100% !important;
}
.height-fit {
  max-height: 100% !important;
}
.width-full {
  width: 100% !important;
}
.width-fit {
  max-width: 100% !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
