@import url("default.css");
body.before-load {
  overflow: hidden;
}
.container {
  overflow-x: hidden;
}
.navbar__hamburgerMenuContainer {
  display: none;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10% auto;
  width: 80%;
  max-width: 1440px;
}

.tooltip:hover .tooltiptext {
  opacity: 0.7;
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-black);
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 5px;
  transition: var(--animation-duration-medium);
  -webkit-transition: var(--animation-duration-medium);
}

.switch {
  margin-top: 10px;
  position: relative;
  width: 36px;
  height: 14px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light-grey);
  -webkit-transition: var(--animation-duration);
  transition: var(--animation-duration);
}

.slider:before {
  position: absolute;
  content: "";
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  height: 20px;
  width: 20px;
  left: -2px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: var(--animation-duration);
  transition: var(--animation-duration);
}

input:checked + .slider:before {
  background-color: var(--color-pink);
}

input:checked + .slider {
  background-color: var(--color-lignt-pink);
}

input:checked + .slider:before {
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 1vw;
  color: transparent;
}

#footerLeft > * {
  margin: 0.3vh 0;
  color: var(--color-grey);
  text-align: center;
  font-size: 1.2rem;
  transition: all var(--animation-duration) ease-in-out;
  -webkit-transition: all var(--animation-duration) ease-in-out;
}

#footerLeft > *:hover {
  color: var(--color-pink);
  transition: all var(--animation-duration) ease-in-out;
  transform: translateY(-3px);
  -webkit-transition: all var(--animation-duration) ease-in-out;
}

#footerRight {
  right: 0px;
  bottom: 0px;
  padding: 1vw;
  position: fixed;
  color: var(--color-pink);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  writing-mode: vertical-lr;
}

#navbar {
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  padding: 0px 8px;
  height: var(--nav-height);
}

#navbar.navbar__hide {
  transition: transform var(--animation-duration-medium) ease-in-out var(--animation-duration-medium);
  transform: translateY(calc(var(--nav-height) * -1));
  -webkit-transition: transform var(--animation-duration-medium) ease-in-out var(--animation-duration-medium);
}

.navbar__logo {
  min-width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.navbar__logo:hover .navbar__logoUnderbar {
  width: 0;
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.navbar__logo:hover .navbar__logoUnderbarActive {
  width: clamp(20px, 2.5vw, 50px);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
  transition-delay: 0s, 1s;
  transition-property: width, background-size;
  transition-duration: 1s, 1s;
  -webkit-transition-delay: 0s, 1s;
  -webkit-transition-property: width, background-size;
  -webkit-transition-duration: 1s, 1s;
}
.navbar__logoUnderbarActive {
  width: 0;
}
.navbar__logo__developer {
  text-align: right;
  margin: 0px;
  color: var(--color-grey);
  font-size: var(--font-semi-micro);
}

.navbar__logoName {
  display: flex;
  justify-content: end;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}
.navbar__logoUnderbar {
  width: clamp(20px, 2.5vw, 50px);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
}
.navbar_Hamburger,
.navbar__HamburgerContents,
.navbar__HamburgerContents::after,
.navbar__HamburgerContents::before {
  opacity: 0;
}

.navbar__menu {
  display: flex;
  transition: var(--animation-duration-long);
  -webkit-transition: var(--animation-duration-long);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item > a {
  position: relative;
  font-size: medium;
  font-weight: var(--weight-regular);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
  transition: background-size 350ms;
  -webkit-transition: background-size 350ms;
}

.navbar__menu__item > a:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: left;
  color: var(--color-pink);
}

#home {
  height: 100vh;
  padding-top: 20vh;
  min-height: 800px;
}

.home__title {
  font-size: var(--font-extra-large);
  font-weight: var(--weight-bold);
  color: var(--color-pink);
  margin: 0px 0px;
}

.home__title__rotate {
  font-size: var(--font-extra-large);
  line-height: clamp(55px, 8vw, 105px);
  display: flex;
  color: var(--color-light-grey);
  height: clamp(55px, 7.5vw, 100px);
  overflow: hidden;
  font-weight: var(--weight-semi-bold);
}

.home__title__rotate:before {
  margin-right: 0.5em;
  content: "[";
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.home__title__rotate:after {
  margin-left: 0.5em;
  content: "]";
  right: 0;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  vertical-align: top;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.home__rotateList {
  min-width: clamp(150px, 10vw, 200px);
  font-weight: var(--weight-bold);
  padding-left: 0.5em;
  text-align: left;
  margin-top: 0;
  top: 0;
}

.home__rotateList__item {
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translateY(0);
  }
  16.66%,
  29.32% {
    transform: translateY(-100%);
  }
  33.32%,
  45.98% {
    transform: translateY(-200%);
  }
  49.98%,
  62.64% {
    transform: translateY(-300%);
  }
  66.64%,
  79.3% {
    transform: translateY(-200%);
  }
  83.3%,
  95.96% {
    transform: translateY(-100%);
  }
}

.home__description {
  color: var(--color-grey);
  font-weight: var(--weight-medium);
  margin: 8px 0px;
}

.home__contactBtn {
  color: var(--color-pink);
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-pink);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  margin-top: 24px;
  padding: 16px 30px;
}

.about__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.about__description {
  width: 60%;
}

#experience {
  align-items: flex-end;
  /* margin-left: 15%;
  margin-right: 15%; */
}

.experience__title {
  background: linear-gradient(-70deg, var(--color-pink) 40%, var(--color-light-purple) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.experience__description {
  margin-left: 40%;
  width: 60%;
}

.work__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.testimonials__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
#testimonials .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials .card__innerContainer {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 400px);
  grid-template-columns: repeat(4, 24%);
}
#testimonials .card__item {
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #6d6b6b6b;
}
#testimonials .card__btnSeeMore {
  cursor: pointer;
  position: fixed;
  font-size: var(--font-small);
  right: clamp(2px, 1vw, 10px);
  bottom: clamp(2px, 0.5vw, 10px);
}
#testimonials .white .card__btnSeeMore {
  color: var(--color-black);
}
#testimonials .card__btnSeeMore {
  color: var(--color-white);
}
#testimonials .card__colleagueInfoContainer {
  display: flex;
}
#testimonials .card__colleagueInfoDetail {
  margin-left: 10px;
}
#testimonials .card__colleagueName {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-white);
}
#testimonials .card__colleagueJobtitle {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-semi-micro);
  color: var(--color-light-grey);
}
#testimonials .card__contentsContainer {
  height: 85%;
}
#testimonials .card__contentsContainer .inner {
  column-width: inherit;
  height: 100%;
}

#testimonials .card__contentsContainer * > p {
  color: var(--color-light-grey);
}
#testimonials .card__contentsContainer * > h4 {
  color: var(--color-white);
  margin: 10px 0;
}
#testimonials .card__avatarContainer > * {
  height: clamp(30px, 1.5vw, 40px);
  height: clamp(30px, 1.5vw, 40px);
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

#testimonials .card__item.white .card__colleagueName,
#testimonials .card__item.white h4 {
  color: var(--color-black);
}
#testimonials .card__item.white p {
  color: var(--color-grey);
}

#testimonials .card__item p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
}
#testimonials .card__colleagueName.white {
  color: var(--color-black);
}
#testimonials .card__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
#testimonials .card__item:nth-child(1) p {
  -webkit-line-clamp: 12;
}
#testimonials .card__item:nth-child(2) {
  background-color: var(--color-grey);
  grid-column: 3/4;
  grid-row: 1/2;
}
#testimonials .card__item:nth-child(2) p {
  -webkit-line-clamp: 10;
}
#testimonials .card__item:nth-child(3) {
  background-color: #207087;
  grid-column: 4/5;
  grid-row: 1/3;
}
#testimonials .card__item:nth-child(3) p {
  -webkit-line-clamp: 30;
}
#testimonials .card__item:nth-child(4) {
  background-color: var(--color-light-black);
  grid-column: 1/2;
  grid-row: 2/3;
}
#testimonials .card__item:nth-child(4) p {
  -webkit-line-clamp: 9;
}
#testimonials .card__item:nth-child(5) {
  background-color: var(--color-light-purple);
  grid-column: 2/4;
  grid-row: 2/3;
}
#testimonials .card__item:nth-child(5) p {
  -webkit-line-clamp: 12;
}
#contact {
  background-color: var(--color-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0;
  padding-top: 50px;
  width: 100%;
  max-width: none;
}
.contact__title {
  font-size: var(--font-extra-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 5vh 0 0 0;
}
.contact__description {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 16px 0px;
}
.contact__copyright {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin-top: 5vh;
}

.contact__contactBtn {
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-white);
  font-size: var(--font-semi-micro);
  font-weight: var(--weight-semi-bold);
  margin-top: 24px;
  padding: 16px 30px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: var(--color-pink);
  stroke-width: 4;
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  animation: loading-circle-ani 2s infinite;
}
.before-load .container {
  display: none;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.popupAnimate {
  opacity: 0;
  transition: all 0.7s ease;
}
.popupAnimate.active {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  #testimonials .card__innerContainer {
    display: flex;
    flex-direction: column;
  }
  #testimonials .card__item {
    padding: 1rem 1.5rem;
    max-height: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  #testimonials .card__item:nth-child(1) p {
    -webkit-line-clamp: 10;
  }
  #testimonials .card__item:nth-child(2) p {
    -webkit-line-clamp: 10;
  }
  #testimonials .card__item:nth-child(3) p {
    -webkit-line-clamp: 10;
  }
  #testimonials .card__item:nth-child(4) p {
    -webkit-line-clamp: 10;
  }
  #testimonials .card__item:nth-child(5) p {
    -webkit-line-clamp: 10;
  }
}

@media screen and (max-width: 900px) {
  #navbar {
    padding: 0 0;
  }
  #testimonials .card__item {
    padding: 0.5rem 1rem;
    max-height: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* #testimonials .card__btnSeeMore {
    right: 10px;
    bottom: 10px;
  } */
  #testimonials .card__item:nth-child(1) p {
    -webkit-line-clamp: 6;
  }
  #testimonials .card__item:nth-child(2) p {
    -webkit-line-clamp: 6;
  }
  #testimonials .card__item:nth-child(3) p {
    -webkit-line-clamp: 6;
  }
  #testimonials .card__item:nth-child(4) p {
    -webkit-line-clamp: 6;
  }
  #testimonials .card__item:nth-child(5) p {
    -webkit-line-clamp: 6;
  }
  .blur {
    overflow: hidden;
  }
  .hamburgerMenu__btnClose {
    cursor: pointer;
    position: fixed;
    top: 28px;
    right: 18px;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
  }
  .hamburgerMenu__btnClose > div.active {
    transform: rotate(45deg);
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 100% 2px;
    width: 100%;
    transition: background-size 0.3s linear 0.8s;
  }
  .hamburgerMenu__btnClose > div ~ div.active {
    transform: rotate(135deg);
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 100% 2px;
    width: 100%;
    transition: background-size 0.3s linear 0.6s;
  }
  .hamburgerMenu__btnClose__item {
    position: absolute;
    height: 2px;
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 0 2px;
    transition: background-size 0.3s;
  }

  .navbar__hamburgerMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    background-color: var(--color-pink);
    width: min(50%, 400px);
    height: 100vh;
    z-index: 11;
    transform: translateX(50vw);

    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
  }
  .navbar__hamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
  }
  .navbar__hamburgerMenu__item > * {
    color: var(--color-white);
    cursor: pointer;
    background: var(--color-pink);
    transition: all var(--animation-duration) ease-in-out;
  }
  .navbar__hamburgerMenu__item > *:hover {
    color: var(--color-black);
  }
  @keyframes stripes {
    to {
      background-size: 100% 100%;
    }
  }
  .navbar__hamburgerMenuContainer.active {
    transform: translateX(-100vw);
    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
  }
  .navbar__hamburgerMenuBlur.active {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: var(--animation-duration-medium);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navbar__menu {
    transform: translateX(600px);
    opacity: 0;
    transition: var(--animation-duration-long);
  }
  .navbar__btnHamburger {
    display: inline-block;
    position: absolute;
    opacity: 1;
    padding: 0 0 0 10px;
    height: 40px;
    width: 40px;
    top: 18px;
    right: 10px;
  }
  .navbar__btnHamburgerContents {
    position: absolute;
    opacity: 1;
    height: 2px;
    width: 25px;
    top: 50%;
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }

  .navbar__btnHamburgerContents:before {
    position: absolute;
    opacity: 1;
    right: 0px;
    height: 2px;
    top: -8px;
    width: 120%;
    content: "";
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }
  .navbar__btnHamburgerContents:after {
    position: absolute;
    width: 80%;
    top: 8px;
    opacity: 1;
    right: 0px;
    height: 2px;
    content: "";
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }
  .navbar__btnHamburgerContents.active:before {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.3s;
  }

  .navbar__btnHamburgerContents.active {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.5s;
  }

  .navbar__btnHamburgerContents.active:after {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.7s;
  }
}
