@import url("default.css");
@import url("layout.css");
@import url("padding.css");
@import url("margin.css");
@import url("transition.css");
@import url("./sections/home.css");
@import url("./sections/aboutme.css");
@import url("./sections/experience.css");
@import url("./sections/work.css");
@import url("./sections/testimonial.css");
@import url("./sections/contact.css");

@media screen and (max-width: 900px) {
  #navbar {
    padding: 0 0;
  }
  .hamburgerMenu__btnClose {
    cursor: pointer;
    position: fixed;
    top: 28px;
    right: 18px;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
  }
  .hamburgerMenu__btnClose > div.active {
    transform: rotate(45deg);
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 100% 2px;
    width: 100%;
    transition: background-size 0.3s linear 0.8s;
  }
  .hamburgerMenu__btnClose > div ~ div.active {
    transform: rotate(135deg);
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 100% 2px;
    width: 100%;
    transition: background-size 0.3s linear 0.6s;
  }
  .hamburgerMenu__btnClose__item {
    position: absolute;
    height: 2px;
    background: linear-gradient(0deg, var(--color-white), var(--color-white)) no-repeat right bottom / 0 2px;
    transition: background-size 0.3s;
  }

  .navbar__hamburgerMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    background-color: var(--color-pink);
    width: min(50%, 400px);
    height: 100vh;
    z-index: 11;
    transform: translateX(50vw);

    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
  }
  .navbar__hamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
  }
  .navbar__hamburgerMenu__item > * {
    color: var(--color-white);
    cursor: pointer;
    background: var(--color-pink);
    transition: all var(--animation-duration) ease-in-out;
  }
  .navbar__hamburgerMenu__item > *:hover {
    color: var(--color-black);
  }
  .navbar__hamburgerMenuContainer.active {
    transform: translateX(-100vw);
    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
  }
  .navbar__hamburgerMenuBlur.active {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: var(--animation-duration-medium);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .navbar__menu {
    transform: translateX(600px);
    opacity: 0;
    transition: var(--animation-duration-long);
  }
  .navbar__btnHamburger {
    display: inline-block;
    position: absolute;
    opacity: 1;
    padding: 0 0 0 10px;
    height: 40px;
    width: 40px;
    top: 18px;
    right: 10px;
  }
  .navbar__btnHamburgerContents {
    position: absolute;
    opacity: 1;
    height: 2px;
    width: 25px;
    top: 50%;
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }

  .navbar__btnHamburgerContents:before {
    position: absolute;
    opacity: 1;
    right: 0px;
    height: 2px;
    top: -8px;
    width: 120%;
    content: "";
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }
  .navbar__btnHamburgerContents:after {
    position: absolute;
    width: 80%;
    top: 8px;
    opacity: 1;
    right: 0px;
    height: 2px;
    content: "";
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
    transition-delay: 1s;
  }
  .navbar__btnHamburgerContents.active:before {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.3s;
  }

  .navbar__btnHamburgerContents.active {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.5s;
  }

  .navbar__btnHamburgerContents.active:after {
    background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
    transition: background-size 0.7s ease 0.7s;
  }
}

.beforeLoad .loading {
  opacity: 1;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: var(--color-pink);
  stroke-width: 4;
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  animation: loading-circle-ani 2s infinite;
}

.navbar__hamburgerMenuContainer {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  max-width: 1280px;
}

.tooltip:hover .tooltiptext {
  opacity: 0.7;
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-black);
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 5px;
  transition: var(--animation-duration-medium);
  -webkit-transition: var(--animation-duration-medium);
}

.switch {
  margin-top: 10px;
  position: relative;
  width: 36px;
  height: 14px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light-grey);
  -webkit-transition: var(--animation-duration);
  transition: var(--animation-duration);
}

.slider:before {
  position: absolute;
  content: "";
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  height: 20px;
  width: 20px;
  left: -2px;
  bottom: -3px;
  background-color: white;
  -webkit-transition: var(--animation-duration);
  transition: var(--animation-duration);
}

input:checked + .slider:before {
  background-color: var(--color-pink);
}

input:checked + .slider {
  background-color: var(--color-lignt-pink);
}

input:checked + .slider:before {
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding: 1vw;
  color: transparent;
}

#footerLeft > * {
  margin: 0.3vh 0;
  color: var(--color-grey);
  text-align: center;
  font-size: 1.2rem;
  transition: all var(--animation-duration) ease-in-out;
  -webkit-transition: all var(--animation-duration) ease-in-out;
}

#footerLeft > *:hover {
  color: var(--color-pink);
  transition: all var(--animation-duration) ease-in-out;
  transform: translateY(-3px);
  -webkit-transition: all var(--animation-duration) ease-in-out;
}

#footerRight {
  right: 0px;
  bottom: 0px;
  padding: 1vw;
  position: fixed;
  color: var(--color-pink);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  writing-mode: vertical-lr;
}

#navbar {
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  padding: 0px 8px;
  height: var(--nav-height);
}

#navbar.navbar__hide {
  transition: transform var(--animation-duration-medium) ease-in-out var(--animation-duration-medium);
  transform: translateY(calc(var(--nav-height) * -1));
  -webkit-transition: transform var(--animation-duration-medium) ease-in-out var(--animation-duration-medium);
}

.navbar__logo {
  min-width: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.navbar__logo:hover .navbar__logoUnderbar {
  width: 0;
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.navbar__logo:hover .navbar__logoUnderbarActive {
  width: clamp(20px, 2.5vw, 50px);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
  transition-delay: 0s, 1s;
  transition-property: width, background-size;
  transition-duration: 1s, 1s;
  -webkit-transition-delay: 0s, 1s;
  -webkit-transition-property: width, background-size;
  -webkit-transition-duration: 1s, 1s;
}
.navbar__logoUnderbarActive {
  width: 0;
}
.navbar__logo__developer {
  text-align: right;
  margin: 0px;
  color: var(--color-grey);
  font-size: var(--font-semi-micro);
}

.navbar__logoName {
  display: flex;
  justify-content: end;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}
.navbar__logoUnderbar {
  width: clamp(20px, 2.5vw, 50px);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 100% 2px;
}
.navbar_Hamburger,
.navbar__HamburgerContents,
.navbar__HamburgerContents::after,
.navbar__HamburgerContents::before {
  opacity: 0;
}

.navbar__menu {
  display: flex;
  transition: var(--animation-duration-long);
  -webkit-transition: var(--animation-duration-long);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item > a {
  position: relative;
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
  transition: background-size 350ms;
  -webkit-transition: background-size 350ms;
}

.navbar__menu__item > a:where(:hover, :focus-visible) {
  background-size: 100% 2px;
  background-position-x: left;
  color: var(--color-pink);
}

.about__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.about__description {
  width: 60%;
}

#work {
  align-items: center;
}

.work__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.testimonials__title {
  background: linear-gradient(-70deg, var(--color-light-purple) 0%, var(--color-pink) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.stickyContainer {
  height: 50%;
  right: 0;
  top: 0;
  z-index: 1;
}
.sticky {
  padding-top: 20vh;
  padding-right: 20vw;
  top: 0;
  right: 0;
}

.slideToRight {
  transition: all 0.7s ease 0s;
  transform: translateX(-15px);
}
.slideToRight.active {
  transform: translateX(0);
}
.slideToLeft {
  transition: all 0.7s ease 0s;
  transform: translateX(15px);
}
.slideToLeft.active {
  transform: translateX(0);
}
.popupAnimate {
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.popupAnimate.delayAnimation {
  transition-delay: var(--animation-duration-long);
}
.popupAnimate.active {
  opacity: 1;
}
