.m-0 {
  margin: 0px !important;
}
.m-1 {
  margin: 4px !important;
}
.m-2 {
  margin: 8px !important;
}
.m-3 {
  margin: 12px !important;
}
.m-4 {
  margin: 16px !important;
}
.m-5 {
  margin: 20px !important;
}
.m-6 {
  margin: 24px !important;
}
.m-7 {
  margin: 28px !important;
}
.m-8 {
  margin: 32px !important;
}
.m-9 {
  margin: 36px !important;
}
.m-10 {
  margin: 40px !important;
}
.m-11 {
  margin: 44px !important;
}
.m-12 {
  margin: 48px !important;
}
.m-13 {
  margin: 52px !important;
}
.m-14 {
  margin: 56px !important;
}
.m-15 {
  margin: 60px !important;
}
.m-16 {
  margin: 64px !important;
}
.m-n1 {
  margin: -4px !important;
}
.m-n2 {
  margin: -8px !important;
}
.m-n3 {
  margin: -12px !important;
}
.m-n4 {
  margin: -16px !important;
}
.m-n5 {
  margin: -20px !important;
}
.m-n6 {
  margin: -24px !important;
}
.m-n7 {
  margin: -28px !important;
}
.m-n8 {
  margin: -32px !important;
}
.m-n9 {
  margin: -36px !important;
}
.m-n10 {
  margin: -40px !important;
}
.m-n11 {
  margin: -44px !important;
}
.m-n12 {
  margin: -48px !important;
}
.m-n13 {
  margin: -52px !important;
}
.m-n14 {
  margin: -56px !important;
}
.m-n15 {
  margin: -60px !important;
}
.m-n16 {
  margin: -64px !important;
}

.mt-0 {
  margin-top: 0px !important;
}
.mt-1 {
  margin-top: 4px !important;
}
.mt-2 {
  margin-top: 8px !important;
}
.mt-3 {
  margin-top: 12px !important;
}
.mt-4 {
  margin-top: 16px !important;
}
.mt-5 {
  margin-top: 20px !important;
}
.mt-6 {
  margin-top: 24px !important;
}
.mt-7 {
  margin-top: 28px !important;
}
.mt-8 {
  margin-top: 32px !important;
}
.mt-9 {
  margin-top: 36px !important;
}
.mt-10 {
  margin-top: 40px !important;
}
.mt-11 {
  margin-top: 44px !important;
}
.mt-12 {
  margin-top: 48px !important;
}
.mt-13 {
  margin-top: 52px !important;
}
.mt-14 {
  margin-top: 56px !important;
}
.mt-15 {
  margin-top: 60px !important;
}
.mt-16 {
  margin-top: 64px !important;
}
.mt-n1 {
  margin-top: -4px !important;
}
.mt-n2 {
  margin-top: -8px !important;
}
.mt-n3 {
  margin-top: -12px !important;
}
.mt-n4 {
  margin-top: -16px !important;
}
.mt-n5 {
  margin-top: -20px !important;
}
.mt-n6 {
  margin-top: -24px !important;
}
.mt-n7 {
  margin-top: -28px !important;
}
.mt-n8 {
  margin-top: -32px !important;
}
.mt-n9 {
  margin-top: -36px !important;
}
.mt-n10 {
  margin-top: -40px !important;
}
.mt-n11 {
  margin-top: -44px !important;
}
.mt-n12 {
  margin-top: -48px !important;
}
.mt-n13 {
  margin-top: -52px !important;
}
.mt-n14 {
  margin-top: -56px !important;
}
.mt-n15 {
  margin-top: -60px !important;
}
.mt-n16 {
  margin-top: -64px !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: 4px !important;
}
.mr-2 {
  margin-right: 8px !important;
}
.mr-3 {
  margin-right: 12px !important;
}
.mr-4 {
  margin-right: 16px !important;
}
.mr-5 {
  margin-right: 20px !important;
}
.mr-6 {
  margin-right: 24px !important;
}
.mr-7 {
  margin-right: 28px !important;
}
.mr-8 {
  margin-right: 32px !important;
}
.mr-9 {
  margin-right: 36px !important;
}
.mr-10 {
  margin-right: 40px !important;
}
.mr-11 {
  margin-right: 44px !important;
}
.mr-12 {
  margin-right: 48px !important;
}
.mr-13 {
  margin-right: 52px !important;
}
.mr-14 {
  margin-right: 56px !important;
}
.mr-15 {
  margin-right: 60px !important;
}
.mr-16 {
  margin-right: 64px !important;
}
.mr-n1 {
  margin-right: -4px !important;
}
.mr-n2 {
  margin-right: -8px !important;
}
.mr-n3 {
  margin-right: -12px !important;
}
.mr-n4 {
  margin-right: -16px !important;
}
.mr-n5 {
  margin-right: -20px !important;
}
.mr-n6 {
  margin-right: -24px !important;
}
.mr-n7 {
  margin-right: -28px !important;
}
.mr-n8 {
  margin-right: -32px !important;
}
.mr-n9 {
  margin-right: -36px !important;
}
.mr-n10 {
  margin-right: -40px !important;
}
.mr-n11 {
  margin-right: -44px !important;
}
.mr-n12 {
  margin-right: -48px !important;
}
.mr-n13 {
  margin-right: -52px !important;
}
.mr-n14 {
  margin-right: -56px !important;
}
.mr-n15 {
  margin-right: -60px !important;
}
.mr-n16 {
  margin-right: -64px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}
.mb-1 {
  margin-bottom: 4px !important;
}
.mb-2 {
  margin-bottom: 8px !important;
}
.mb-3 {
  margin-bottom: 12px !important;
}
.mb-4 {
  margin-bottom: 16px !important;
}
.mb-5 {
  margin-bottom: 20px !important;
}
.mb-6 {
  margin-bottom: 24px !important;
}
.mb-7 {
  margin-bottom: 28px !important;
}
.mb-8 {
  margin-bottom: 32px !important;
}
.mb-9 {
  margin-bottom: 36px !important;
}
.mb-10 {
  margin-bottom: 40px !important;
}
.mb-11 {
  margin-bottom: 44px !important;
}
.mb-12 {
  margin-bottom: 48px !important;
}
.mb-13 {
  margin-bottom: 52px !important;
}
.mb-14 {
  margin-bottom: 56px !important;
}
.mb-15 {
  margin-bottom: 60px !important;
}
.mb-16 {
  margin-bottom: 64px !important;
}
.mb-n1 {
  margin-bottom: -4px !important;
}
.mb-n2 {
  margin-bottom: -8px !important;
}
.mb-n3 {
  margin-bottom: -12px !important;
}
.mb-n4 {
  margin-bottom: -16px !important;
}
.mb-n5 {
  margin-bottom: -20px !important;
}
.mb-n6 {
  margin-bottom: -24px !important;
}
.mb-n7 {
  margin-bottom: -28px !important;
}
.mb-n8 {
  margin-bottom: -32px !important;
}
.mb-n9 {
  margin-bottom: -36px !important;
}
.mb-n10 {
  margin-bottom: -40px !important;
}
.mb-n11 {
  margin-bottom: -44px !important;
}
.mb-n12 {
  margin-bottom: -48px !important;
}
.mb-n13 {
  margin-bottom: -52px !important;
}
.mb-n14 {
  margin-bottom: -56px !important;
}
.mb-n15 {
  margin-bottom: -60px !important;
}
.mb-n16 {
  margin-bottom: -64px !important;
}

.ml-0 {
  margin-left: 0px !important;
}
.ml-1 {
  margin-left: 4px !important;
}
.ml-2 {
  margin-left: 8px !important;
}
.ml-3 {
  margin-left: 12px !important;
}
.ml-4 {
  margin-left: 16px !important;
}
.ml-5 {
  margin-left: 20px !important;
}
.ml-6 {
  margin-left: 24px !important;
}
.ml-7 {
  margin-left: 28px !important;
}
.ml-8 {
  margin-left: 32px !important;
}
.ml-9 {
  margin-left: 36px !important;
}
.ml-10 {
  margin-left: 40px !important;
}
.ml-11 {
  margin-left: 44px !important;
}
.ml-12 {
  margin-left: 48px !important;
}
.ml-13 {
  margin-left: 52px !important;
}
.ml-14 {
  margin-left: 56px !important;
}
.ml-15 {
  margin-left: 60px !important;
}
.ml-16 {
  margin-left: 64px !important;
}
.ml-n1 {
  margin-left: -4px !important;
}
.ml-n2 {
  margin-left: -8px !important;
}
.ml-n3 {
  margin-left: -12px !important;
}
.ml-n4 {
  margin-left: -16px !important;
}
.ml-n5 {
  margin-left: -20px !important;
}
.ml-n6 {
  margin-left: -24px !important;
}
.ml-n7 {
  margin-left: -28px !important;
}
.ml-n8 {
  margin-left: -32px !important;
}
.ml-n9 {
  margin-left: -36px !important;
}
.ml-n10 {
  margin-left: -40px !important;
}
.ml-n11 {
  margin-left: -44px !important;
}
.ml-n12 {
  margin-left: -48px !important;
}
.ml-n13 {
  margin-left: -52px !important;
}
.ml-n14 {
  margin-left: -56px !important;
}
.ml-n15 {
  margin-left: -60px !important;
}
.ml-n16 {
  margin-left: -64px !important;
}
