:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink: #fa5a59;
  --color-light-grey: #999999;
  --color-grey: #919395;

  --font-extra-large: 60px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-semi-micro: 14px;
  --font-micro: 10px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;
  --aninamtion-duration: 0.3s;
  --nav-height: 104px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans";
}
a {
  text-decoration: none;
  color: var(--color-black);
}
ul {
  list-style: none;
  padding-left: 0px;
}
button{
  font-family: "Open Sans";
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  /* margin: 16px 0px; */
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(var(--weight-semi-bold));
  color: var(--color-black);

}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}
#footerLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left:0;
  bottom: 0;
  position: fixed;
  padding : 2vw;
  color: var(--color-pink);
  font-size: clamp(var(--font-semi-micro),1vw, var(--font-regular));
  /* height: 1%; */
}
#footerLeft > * {
  margin: 1px 0;
  cursor: pointer;
  color: var(--color-pink);
}
#footerRight{
  right:0px;
  bottom: 0px;
  padding : 2vw;
  position: fixed;
  color: var(--color-pink);
  font-weight: var(--weight-semi-bold); 
  font-size: clamp(var(--font-semi-micro),1vw, var(--font-regular));
  writing-mode : vertical-lr;
}
#navbar {
  z-index: 1;
  position: fixed;
  background: #ffffff;
  left:0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
  padding: 16px;
  height: var(--nav-height);
  transition-delay: 0.5s;
  transition: transform 0.5s ease-in-out;
}
#navbar.navbar__hide{
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.5s;
  transform: translateY(calc(var(--nav-height) * -1));  
}
.navbar__logo {
  min-width: 122px;
  display: flex;
  flex-direction: column;
}
.navbar__logo__developer {
  text-align: right;
  margin: 0px;
  color: var(--color-grey);
  font-size:clamp(var(--font-micro), 1vw, var(--font-semi-micro));
}
.navbar__logo__name {
  display: flex;
  font-size: clamp(var(--font-semi-micro), 2vw, var(--font-medium));
  font-weight: var(--weight-bold);
}
.navbar__logo__name::before{
  content: "_____";
  color: var(--color-pink);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item > a {
  position: relative;
  font-size: medium;
  font-weight: var(--weight-semi-bold);
}
.navbar__menu__item > a{
  background: linear-gradient(0deg, var(--color-pink), var(--color-pink)) no-repeat right bottom / 0 2px;
  transition: background-size 350ms;
}
.navbar__menu__item > a:where(:hover, :focus-visible){
  background-size: 100% 2px;
  background-position-x: left;
  color: var(--color-pink);
}
#home{
  height: 100vh;
  padding: 10% 0%;
  min-height: 800px;
}
.home__title {
  font-size: clamp(40px, 6vw, 80px);
  font-weight: var(--weight-bold);
  color: var(--color-pink);
  margin: 0px 0px;
  
}
.home__title__rotate{
  font-size: clamp(40px, 6vw, 80px);
  line-height: clamp(40px, 6vw, 80px);
  display: flex;
  color: var(--color-light-grey);
  height: clamp(45px, 6.5vw, 90px);
  overflow:hidden;
  font-weight: var(--weight-semi-bold);
}
.home__title__rotate::before{
  margin-right: 0.5em;
  content: "["; 
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
.home__title__rotate::after{
  margin-left: 0.5em;
  content: "]";
  right: 0;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  vertical-align: top;
}
@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

.home__list{
  min-width: 200px;
  font-weight: var(--weight-bold);
  padding-left: 0.5em;
  text-align: left;
  margin-top: 0;
}
.home__list__item{
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes change {
  0%, 12.66%, 100% {transform:translateY(0);}
  16.66%, 29.32% {transform:translateY(-100%);}
  33.32%,45.98%  {transform:translateY(-200%);}
  49.98%,62.64%  {transform:translateY(-300%);}
  66.64%,79.3%   {transform:translateY(-200%);}
  83.3%,95.96%  {transform:translateY(-100%);}


}
.home__description {
  font-size: clamp(var(--font-semi-micro), 2vw, var(--font-regular));
  font-weight: var(--weight-regular);
  color: var(--color-grey);
  margin: 8px 0px;
}
.home__contact {
  color : var(--color-pink);
  border-radius: var(--size-border-radius);
  border : 2px solid var(--color-pink);
  font-size : var(--font-semi-micro);
  font-weight : var(--weight-semi-bold );
  margin-top: 24px;
  padding : 16px 30px;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 5% 5%; */
  margin: 100px 20%;
}

@media screen and (max-width: 768px) {
  
}