#contact {
  background-color: var(--color-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  max-width: none;
}

.contact__title {
  font-size: var(--font-extra-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 5vh 0 0 0;
}
.contact__description {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 16px 0px;
}
.contact__copyright {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin-top: 5vh;
}

.contact__contactBtn {
  color: var(--color-white);
  border-radius: var(--size-border-radius);
  border: 2px solid var(--color-white);
  font-size: var(--font-semi-micro);
  font-weight: var(--weight-semi-bold);
  margin-top: 24px;
  padding: 16px 30px;
}
