@charset 'utf-8';

.experience__container h1,
.experience__container h2,
.experience__container h4,
.experience__container p {
  color: var(--color-white);
  margin: 4px 0px;
}

#experience h4::before {
  content: "-";
  margin-right: 4px;
}
.experience__title {
  color: var(--color-pink) !important;
}
.experience__container {
  height: 100%;
  width: 50vw;
  background-color: #050d21;
  border-radius: 20px;
  text-align: center;
}

#experience .contents {
  position: relative;
  align-items: center;
  left: calc(-50vw + 50%);
  width: 100vw;
}
#experience .content {
  position: relative;
  width: 1280px;
  min-height: 100px;
  padding: 0px 40px;
  text-align: left;
}
#experience .content.space {
  height: 100px;
}
#experience .detail {
  width: 50%;
}
#experience .left-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 105%;
  width: 2px;
  background-color: var(--color-light-grey);
}

#experience .right-line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 105%;
  width: 2px;
  background-color: var(--color-light-grey);
}
.spaceNeedle {
  margin-top: 5%;
  height: 15%;
  width: 15%;
  fill: white;
}
#experience .center-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 105%;
  width: 2px;
  background-color: var(--color-light-grey);
}

#experience .fc-blue {
  background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, var(--color-light-purple));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
#experience .fc-green {
  background: -webkit-linear-gradient(-70deg, var(--color-green) 20%, var(--color-light-purple));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}
/* , var(--color-white) 50% 75%, #b31942 75% */
#experience .fc-usa {
  background: linear-gradient(#0a3161 35%, white, #b31942 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

#experience .tooltip {
  position: relative;
  cursor: pointer;
  color: var(--color-green);
}

#experience .tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}
#experience .tooltip .tooltiptext {
  visibility: hidden;
  width: 20vw;
  background-color: var(--color-black);
  color: #fff;
  opacity: 0;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30px;
  transition: var(--animation-duration-medium);
  -webkit-transition: var(--animation-duration-medium);
}

.objSticky {
  top: 50vh;
  right: 0;
}
.img {
  z-index: 10;
  height: 91%;
  width: 91%;
  border-radius: 10px;
}
.stickyContainer {
  padding-top: 200px;
  z-index: 1;
  width: 50%;
  top: 0;
}
.stickyContainer.stickyLeft {
  left: 0;
  height: 90%;
}
.stickyContainer.stickyRight {
  right: 0;
  height: 90%;
}
@media screen and (max-width: 1280px) {
  #experience .contents {
    width: 100vw;
  }
  #experience .content {
    padding: 0 40px 0 40px;
    width: 100%;
    min-height: 50px;
  }
  #experience .left-line::before {
    left: 20px;
    height: 105%;
  }
  #experience .right-line {
    text-align: end;
  }
  #experience .right-line::before {
    right: 20px;
    height: 105%;
  }
  #experience .detail {
    width: 50%;
  }

  #experience .content.space {
    height: 50px;
  }
  .spaceNeedle {
    margin-top: 15%;
    height: 50%;
    width: 50%;
    fill: white;
  }
  #experience .tooltip .tooltiptext {
    right: 0;
    width: 40vh;
  }
  .stickyContainer {
    padding-top: 100px;
  }
  .stickyContainer.stickyLeft {
    left: 0;
    height: 95%;
  }
  .stickyContainer.stickyRight {
    right: 0;
    height: 95%;
  }
}
@media screen and (max-width: 600px) {
  #experience .content.space.mobile-height {
    height: 200px;
  }
  .objSticky {
    top: 50vh;
  }
  .stickyContainer {
    width: 100%;
    height: 120%;
  }
  #experience .detail {
    width: 100%;
  }
}
